* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100vw;
  height: auto;
}
.header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #5be4f7, #48a7f5, #3c75f0, #8566f7);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* navigation bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10vh 10vw 5vh;
  font-size: 10px;
  font-weight: 999;
}
.nav-bar .nav-items .nav-item a {
  font-size: 12px;
  font-weight: 999;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-items .nav-item a:hover {
  text-decoration: underline;
}
.nav-item {
  display: inline-flex;
  margin: 0vh 3vh;
}

/* intro page */

.cover {
  display: flex;
}

.intro {
  color: white;
  height: 80vh;
  width: 40vw;
  margin: 0vh 0 0vh 10vw;
}
.intro h1 {
  line-height: 6vh;
}
.intro p {
  line-height: 4vh;
  font-family: "Roboto", sans-serif;
}
.intro img {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  margin: 12vh 0vh 8vh;
}

/* button section */

.intro a .button {
  font-weight: 900;
  padding: 2vh 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3vh 3vh 0vh 0vh;
  cursor: pointer;
  border-radius: 30px;
  border: 3px solid white;
}
.button1 {
  color: rgb(54, 141, 240);
  background-color: white;
}
.button2 {
  color: rgb(255, 255, 255);
  background: transparent;
  transition: 0.3s;
}
.button2:hover {
  color: rgb(54, 141, 240);
  background-color: white;
}

/* main seceion of body */

.main {
  padding: 5vh 0vw;
  width: 100%;
  height: 100vh;
}
.projects {
  margin: 0vh 10vw;
  width: 80vw;
  height: 100vh;
}
.projects h3 {
  font-size: 30px;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 1vh 0vw 3vh;
}
.mid-nav li a {
  text-decoration: none;
  font-weight: 710;
  font-size: 0.7em;
  color: black;
  list-style: none;
  text-transform: uppercase;
  line-height: 1.4;
}
.active,
.mid-nav li a:hover {
  color: #0575e6;
  text-decoration: underline;
}
.mid-nav li {
  list-style: none;
  display: inline-flex;
  margin-right: 3vw;
}
.mid-nav {
  width: 80vw;
  height: auto;
  margin-bottom: 5vh;
}
/* mid nav end */

/* project items view */
.projectList {
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  height: auto;
}
.project {
  width: 49%;
  height: 400px;
  margin: 20px 0px;
}

.img {
  background-image: linear-gradient(
    rgb(57, 163, 75),
    rgb(82, 170, 89),
    rgb(116, 196, 127)
  );
  /* object-fit: contain; */

  width: 100%;
  height: 350px;
  overflow: hidden;
  text-align: center;
}
.project img {
  width: 90%;
  height: auto;
  transition: 0.4s;
  margin-top: 30px;
}
/* .project img:hover {
  transform: scale(1.1); 
}*/
.project div h3 {
  font-size: 18px;
  margin-top: 1vh;
  line-height: 5px;
}
.project div h3:hover {
  text-decoration: underline;
  color: #1987e2;
}
.project div p {
  font-size: 13px;
  line-height: 3px;
  color: rgb(71, 71, 71);
  font-family: "Roboto", sans-serif;
}
